[2020-04-14 13:02] chcorbato opened #2 "ERROR Not p gain specified for pid"
When launching the simulation after following all the instructions and fixing the error with the xacro file (see pull request, branch [carlos_test](https://github.com/rosin-project/metacontrol_sim/tree/carlos_test)), I get the following error,

[code]

[2020-04-14 16:14] ipa-nhg commented on #2
Related to https://github.com/ros-industrial/universal_robot/issues/386 and https://github.com/ros-industrial/universal_robot/pull/443

Unfortunately, there is so far no solution to this issue. The good new is that, at least on my experience, the controllers work although gazebo gives an error  :wink:

[2020-04-15 08:16] ipa-nhg opened #4 "[NiceToHave] Create a simplified version of the simulation"
I tested the simulation and it works, great job @marioney :tada::tada:
The only problem I have is that the real time rate of gazebo is super slow (obviously the problem is my laptop, I usually use my workstation but these days I don't have access to it). Is it ok for you if I create a simplified version of the simulation? Probably just remove the controllers of the yumi will be ok.

----
Short tes

[2020-04-15 10:26] marioney commented on #4
if you use the command

 `roslaunch metacontrol_sim ridgeback_world.launch gui:=true`

It will launch only the base without the YUMI altogether.  So it may be easier for your laptop to handle it.

I've been using the `/cmd_vel` topic to control the robot, so I didn't realize that somehow the `/ridgeback_velocity_controller/cmd_vel` is ignored.  I'll take a look a it

[2020-04-15 10:30] marioney commented on #2
Also, the YUMI controllers are not entirely well configured, I have to double check that the correct __joint_state__ topics and control configuration files are being set.

[2020-04-15 11:12] chcorbato commented on #2
I guess then this is not a priority at all.

[2020-04-15 11:17] chcorbato commented on #4
I suggest to create a separate launch param to select which parts of the robot are simulated. with gui:='true' I would expect simply rviz to be launched ;-)

[2020-04-15 11:28] chcorbato commented on #4
I totally support this request to have a very simple simulation that can be run in any laptop.
Mine cannot handle this one.
Suggestions:
- select to use simplified models as a param in the launch file
- other robot model
Whatever is easier/faster to implement.

[2020-04-16 07:26] ipa-nhg commented on #4
Thanks! This looks much better. But I think there are some issues with the robot controller :arrow_down:

--

I checked the /cmd_vel topic and  for me it has an unknown message type. I took a look at the controller implementation and it seems for the base they use their own gazebo plugin [ridgeback_ros_force_based_move](https://github.com/rosin-project/metacontrol_sim/blob/master/urdf/ridgeback/ri

[2020-04-16 18:29] marioney commented on #4
This is strange, because for me it's a Twist message, as any other /cmd_vel, this is the output of rostopic info

[2020-04-20 08:55] ipa-nhg commented on #4
@marioney thanks for your answer, I am pretty sure I have a problem of missed dependencies. The people usually forget to list in the package.xml all the dependencies related to the gazebo plugins. These types of errors are very hard to be found by the typical CI tests because don't produce compilation failures, even the common rostests don't check them.

I will give a last try to the simulation se

[2020-04-20 09:25] marioney commented on #4
Totally agree, it can get really hectic with dependencies versions and so on.

No problem with that. I hope you make it work, and of course I'm happy to execute the extractor if you still run into issues, just let me know!

[2020-04-20 10:12] ipa-nhg commented on #4
ok, fixed. We were right, missed dependencies problem. I fixed it by:

`sudo apt-get install ros-melodic-ridgeback-*`

Thanks a lot! :+1:

[2020-04-29 11:42] chcorbato opened #5 "Define MVP world"
define a launchfile for the world in the MVP scenario

[2020-04-29 12:09] chcorbato opened #6 "Create observer for the power consumption"
Fake one but based on Harsh observer
Requirement is to output the proper [diagnostic message](https://github.com/ipa-hsd/rosgraph_monitor/pull/8#issuecomment-620464644)

[2020-04-29 14:23] chcorbato opened #7 "Implement Rosgraph_manipulator for MVP"
Following specification in https://github.com/rosin-project/mros1_reasoner/issues/11

- [x] Implement `MvpRconfiguration.action`
- [x] Implement node `Rosgraph_manipulator`
    - [x] Implement action server
    - [x] Implement launch configuration
    - [x] retrieve `move_base` goal when it is reconfigured see #10

[2020-04-29 14:32] marioney commented on #5
@chcorbato should the MVP launch the navigation by default?  I guess this is linked with https://github.com/rosin-project/mros1_reasoner/issues/11 because we need to define what is changed or what is the starting point (what nodes need to be active before from the beginning)

[2020-04-29 15:58] marioney opened #8 "Create publisher for power load"
Add Publisher for current power load as Float32, to the battery load controller

[2020-04-29 16:01] marioney commented on #8
The publisher has been created on https://github.com/rosin-project/metacontrol_sim/commit/73738c88bff7f9e313628e0a7e4773845c7b181e

[2020-04-29 16:01] #8 closed

[2020-04-29 16:06] marioney commented on #6
The input topic should be `/power_load` it's being published by the battery load controller  (see #8  )

[2020-04-30 06:10] chcorbato commented on #5
I think for the moment we can have an initial launch taking care of launching the entire system, including navigation in standard mode.

[2020-04-30 08:03] chcorbato commented on #7
implemented in cccc0239

[2020-04-30 09:16] chcorbato opened #10 "Re-send goal as part of MVP reconfiguration"
quick solution for MVP to the more general issue https://github.com/rosin-project/mros1_reasoner/issues/12

For this we will use navigation goal poses from https://github.com/rosin-project/metacontrol_sim/issues/11

[2020-04-30 09:18] chcorbato opened #11 "Create YAML file(s) with navigation goal poses"

[2020-04-30 09:18] marioney commented on #5
The MVP world and launchers have been created on https://github.com/rosin-project/metacontrol_sim/commit/1f084a50d137dc96aaebf5702df9ff7e49cdb206

We should use the https://github.com/rosin-project/metacontrol_sim/tree/MVP_world branch

[2020-04-30 09:20] #5 closed

[2020-04-30 10:10] marioney commented on #11
yaml file created on https://github.com/rosin-project/metacontrol_sim/commit/ab72ef2e15b4180230974733f1498d34850eaac8

@chcorbato  can you check it? and if it's OK close this

[2020-04-30 10:30] marioney commented on #11
I've tested it using
[code]
And seems to work

[2020-04-30 11:48] marioney commented on #11
Tested now with the `rosgraph_manipulator`

[2020-04-30 11:48] #11 closed

[2020-04-30 12:30] chcorbato commented on #4
Added dependency `ros-melodic-ridgeback-gazebo` in `README.md` 5f56076

[2020-04-30 13:31] #7 closed

[2020-04-30 13:33] chcorbato commented on #10
implemented in #13

[2020-04-30 13:33] #10 closed

[2020-04-30 13:34] chcorbato commented on #6
@darkobozhinoski can you point to the code that addresses this issue?

[2020-04-30 13:46] darkobozhinoski commented on #6
@chcorbato https://github.com/rosin-project/rosgraph_monitor/blob/observers/src/rosgraph_monitor/observers/quality_observer.py

You can subscribe to the /diagnostics topic.

https://github.com/rosin-project/rosgraph_monitor/blob/observers/src/rosgraph_monitor/observer.py

[2020-05-01 06:25] chcorbato opened #14 "Adaptation rule based on instantaneous power as QA energy triggers reconfiguration when there is a sporadic peak in battery load"

[2020-05-01 06:39] chcorbato opened #15 "Send initial nav goal in MVP launchfile"
We need an application logic to manage the goals, but maybe for the MVP we can simply send the goal in the launchfile, what do you think @marioney ?

[2020-05-01 06:57] chcorbato commented on #14
@darkobozhinoski maybe you can analyze whether this is acceptable or not and propose solutions?

**Important**: `mros1_reasoner` is not yet working 100% ( https://github.com/rosin-project/mros1_reasoner/commit/203760fded386bc4d584228cd6a40471730a9d2d ), but I have already detected that reconfiguration can be triggered by sporadic values of power consumption/battery load, which does not seem a desi

[2020-05-01 08:58] marioney commented on #15
Solved in https://github.com/rosin-project/metacontrol_sim/commit/1357b1b4d46a6ca729db3914941e961f06d34f6f

[2020-05-01 08:58] #15 closed

[2020-05-01 12:41] marioney opened #17 "Create publisher for Safety values"
Publish

P =  Closest distance to an object in the direction of motion
Pr = Closest distance to an object in the direction of motion - inflation_radius

Information should come from the laser scanner

[2020-05-01 12:48] darkobozhinoski opened #18 "Create observer for safety"
The model of safety is taken from this [reference](http://reason.cs.uiuc.edu/jaesik/papers/TIE_ChungWChoiJSongJ.pdf).

Safety observer is defined [here](https://github.com/rosin-project/rosgraph_monitor/blob/observers/src/rosgraph_monitor/observers/safety_quality_observer.py).

Run-time safety is calculated as follows:
 S= {
            1,         if P > d_break;
            P_r/d_break,       oth

[2020-05-01 12:49] chcorbato opened #19 "Create Test design for MVP"
SHould we specify a minimal test for our MVP? We could follow the[ example of CMU](https://github.com/cmu-mars/cmu-robotics/blob/development/documents/test-design-cp3.md)
and then extend it for all the experiments in the paper.
what do you think @darkobozhinoski ?

[2020-05-01 15:18] chcorbato opened #20 "rosgraph_manipulator cannot execute reconfiguration when launched in the same terminal"
I have tested d92e96e348b5839754d08d885c85cfc90ec4ffa6 and `mros1_reasoner` gets stuch waiting for the result of the reconfiguration action.
I guess something goes wrong with `rosgraph_manipulator`
I have tested it launching MVP_ commenting the following line:
https://github.com/rosin-project/metacontrol_sim/blob/d92e96e348b5839754d08d885c85cfc90ec4ffa6/launch/MVP_metacontrol_world.launch#L55
and

[2020-05-04 08:33] marioney commented on #17
Publisher created on  https://github.com/rosin-project/metacontrol_sim/commit/97fceb4b439cf7471ca69a9e30dfa0e19e82a21f

[2020-05-04 08:33] #17 closed

[2020-05-04 09:07] marioney commented on #20
@chcorbato can you tell us the sequence of commands that you're using to launch everything? I mean,  Do you launch the reasoner first? and which onto file are you launching?

[2020-05-06 12:06] marioney commented on #20
Solved in https://github.com/rosin-project/metacontrol_sim/commit/0b9dbd0ea1149beb8b95074579033686e87e4a73

[2020-05-07 07:27] marioney opened #21 "Activate graph observer in MVP launchfile"
Create service client to call the `load observer` service and activate the QA observer and add it to the MVP Launcher

[2020-05-07 09:33] marioney commented on #21
It's solved on https://github.com/rosin-project/metacontrol_sim/commit/87a87ea3fd295d5e52a97be62976c65842f358ad

I've created a node to call the service, reading the observer name from a yaml.

[2020-05-07 09:33] #21 closed

[2020-05-07 11:42] #20 closed

[2020-05-07 11:51] chcorbato opened #22 "Problem complete simple navigation task"
I have run the simple MVP and the adaptation works, but after adaptation the robot does not succeed reaching the goal pose using the `safe` configuration.
See rviz screenshot where the robot gets stuck.
![rviz_screenshot_2020_05_07-13_48_01](https://user-images.githubusercontent.com/9592617/81291278-c5a34980-9069-11ea-87ea-d80762275b65.png)

[2020-05-12 10:41] chcorbato opened #23 "Performance observer"
How to came up with a normalized value for the performance observer.

[2020-05-12 13:06] marioney commented on #23
For this, the ideal measurement will be:

( optimal plan distance / current plan distance ) * normalized_speed

Optimal plan distance can be the plan with inflation_radius = 0

[2020-05-12 13:10] marioney opened #24 "add kinect model to ridgeback"
In order to manage component failure, and reconfiguration, a Kinect model needs to be added to the ridgeback.

@chcorbato should we have a different field of view / range or use the same as the laser?

Since we're using fake_localization it only needs to be configured for navigation

[2020-05-12 15:56] chcorbato opened #25 "Data logging tool for the experiments"
This is needed for #26

[2020-05-12 15:56] chcorbato opened #26 "Create basic experimental setup to run and obtain data"
Just 2 workstations (goals) - try with the factory map (desired), but if problematic use the map we have.

Should follow the definition in https://github.com/rosin-project/metacontrol_nav/issues/4

Needs:
- [x] Data logging tool #25
- [x] Create factory environment
- [x] Define Goal positions - a set of 3 values
- [x] Define Initial positions - a set of 3 values
- [x] Create map - only one is goin

[2020-05-13 06:03] chcorbato commented on #24
I think it should be realistic to what the actual field of view and range is for the 3D sensor.
I suggest we add something reasonable, not necessarily the kinect, but maybe a `realsense`
I suggest the following criteria for this decision:
- be realistic - ABB is actually using `realsense`
- be easy to add (e.g. existing model for [gazebo](https://github.com/intel/gazebo-realsense))
what do you thi

[2020-05-13 06:37] chcorbato commented on #6
@darkobozhinoski do you confirm that we can close this issue?

[2020-05-13 15:31] marioney commented on #24
Solved in https://github.com/rosin-project/metacontrol_sim/commit/b5248dbcf7e4d93916d5555c229aa7e19fefbe2d

[2020-05-13 15:31] #24 closed

[2020-05-13 15:50] chcorbato commented on #19
Closed, follow up on https://github.com/rosin-project/metacontrol_nav/issues/4

[2020-05-13 15:50] #19 closed

[2020-05-14 07:43] chcorbato commented on #18
@darkobozhinoski please add the basic info on how this issue is resolved, e.g. link to code and instructions for the safety observer

[2020-05-14 08:40] chcorbato commented on #18
- Where is the definition of the observation model (i.e. the equation implemented in the observer)
- How is the acceleration computed?

[2020-05-14 09:02] chcorbato commented on #14
This is an example of experimental data we need from https://github.com/rosin-project/metacontrol_sim/issues/26

Confirm after the minimum experiments is this is an issue

[2020-05-14 09:04] marioney opened #29 "Create control script for the experiments"
Create script to launch the experiments as defined by #26 and the logging tool of #25

[2020-05-14 09:13] marioney commented on #26
Factory environment is created in #27  and the factory map is created in https://github.com/rosin-project/metacontrol_nav/commit/8f57deac1e2f94a67ba1e3ac827c163b59cf961b

[2020-05-14 10:24] marioney commented on #26
3 Goal positions and 3 Start positions are defined in the image
![factory_goals](https://user-images.githubusercontent.com/5198223/81923247-a498a680-95dd-11ea-95a8-34de59d23c17.png)

@chcorbato @darkobozhinoski  does theses position seem ok to you?

[2020-05-14 11:07] chcorbato commented on #26
Looks good to me!

[2020-05-14 12:45] darkobozhinoski commented on #18
The model of safety is taken from this [reference](http://reason.cs.uiuc.edu/jaesik/papers/TIE_ChungWChoiJSongJ.pdf).

Safety observer is defined [here](https://github.com/rosin-project/rosgraph_monitor/blob/observers/src/rosgraph_monitor/observers/safety_quality_observer.py).

Run-time safety is calculated as follows:
 S= {
            1                                  if P > d_break;

[2020-05-14 12:55] chcorbato commented on #26
In the current setup:
`metacontrol_sim`:https://github.com/rosin-project/metacontrol_sim/commit/6d9e3d015e202988e3b6a793531e4b1be37d71d6 `metacontrol_nav:`https://github.com/rosin-project/metacontrol_nav/commit/fa078c4f0c39f87c69fc4ed6de1fe2702f646197

The metacontrol correctly triggers adaptation (see below Observation energy above `1.5` threshold) changing from the departing configuration and sw

[2020-05-14 13:51] marioney commented on #26
I've just checked and I have the same error. Seems that the local planner is ignoring the global plan. I'll try to fix that

[2020-05-14 14:12] darkobozhinoski commented on #18
I reported the definition of the observer in my previous comment.
For acceleration, we might calculate from here:  http://docs.ros.org/melodic/api/sensor_msgs/html/msg/Imu.html  or we can "simplify" our model and remove it from our equation.

[2020-05-14 14:12] darkobozhinoski commented on #18
done :)

[2020-05-14 15:24] chcorbato commented on #18
As you say, we can compute it from the IMU sensor that looks like we have in the simulation (part of the ridgeback real robot too?):
topic: `/imu/data`
message fields needed `linear_acceleration.x` and `linear_acceleration.y` , and then apply Pithagoras theorem I guess

[2020-05-14 17:48] marioney commented on #25
@chcorbato @darkobozhinoski what data should we log?

I'm listing here some, but please feel free to add / remove anything that may be needed

- robot position x: From `/amcl_pose` topic
- robot position y: From `/amcl_pose` topic
- robot orientation:  From `/amcl_pose` topic ? ?
- battery power load: From `/power_load` topic
- linear velocity x: From `/odom` topic
- linear acceleration x: From `/

[2020-05-14 22:42] darkobozhinoski commented on #25
@marioney , we will also need to log the time.
With this, we can measure the total time to complete the mission, the time that certain attribute was under a safety/energy threshold etc.
@marioney , we should also measure how many times reconfiguration have been mane (we purposely killed the move_base).
The rest looks good to me.

[2020-05-15 05:52] chcorbato opened #30 "Data logging tool (continuation from #25)"
Do we need a header timestamp in all our messages for data logging?
- [ ] List all publishers we have created that we need to log (from https://github.com/rosin-project/metacontrol_sim/issues/25#issuecomment-628789858)
- [ ] Add header in .msg if needed
- [ ] Make sure messages published have a correct timestamp initialized

[2020-05-15 05:54] chcorbato commented on #30
@marioney does this issue makes sense to you? At least I know that I have not been taking care of header/timestamp in my action publishers in `mros1_reasoner`

[2020-05-15 07:49] marioney commented on #30
I'm not sure about this.

You mean to publish timestamps on the "sensor" messages (i.e. power_load and dist_to_obstacle)  We can do this, but I'm not sure if the observer will need it / handle it.

For the interactions with the reasoner, I agree we need a correct timestamp, but I guess that's taken care of by the graph_observer

[2020-05-15 08:10] chcorbato commented on #25
Maybe it is handy to log when the nav goal is sent and when it is achieved, I think `/move_base/goal` and `/move_base/result`\
I already added this to the list

ROS messages (whet we will log), include a header with a timestamp
- [ ] we need to check that all our publishers (for metacontrol) are setting that header see #30

[2020-05-15 08:17] chcorbato commented on #30
Maybe @gavanderhoorn has advise on logging ROS info at runtime
- what logging freq?
- better to log the time info in the messages?

[2020-05-15 08:19] gavanderhoorn commented on #30
This question is a somewhat strange in an event based system?

If you're interested in capturing the time of generation or (almost) publication, then add a header.

But `std_msgs/Header` is so small, I would almost suggest to always add it to messages which encode sensor data (or the results of processing sensor data, ie: derived data).

[2020-05-15 08:21] chcorbato commented on #30
@gavanderhoorn do you have a recommendation for a tool to log and process the data?

[2020-05-15 08:23] gavanderhoorn commented on #30
What is the purpose of the log?

Complete reproduction of the message flow, or exporting only 'interesting' streams to external tools for (post)processing (ie: plotting, etc)?

[2020-05-15 08:27] marioney commented on #30
In this case is the second option, we just need to compare the "performance" of two different approaches

[2020-05-15 08:28] chcorbato commented on #30
We are running a set of experiments for the navigation (just `move_base`) in a version of the MOOC factory simulation, with and without metacontrol, to measure performance through a set of variables (see https://docs.google.com/document/d/1FRyrRr9ETblZj5e3-rSsoi8XIl6d_fzOLu6jlB4bxLY/edit#heading=h.65kwbgg1ysfd)
This will require some post-processing. Visualization can be a separate tool, since it

[2020-05-15 08:31] gavanderhoorn commented on #30
Ok.

Then I would just start with `rosbag`. If it turns out you don't get the performance you need, there are other tools to try.

For getting the messages/making plots, I'd then recommend PlotJuggler and/or some simple Python scripts with the `rosbag` API: [rosbag/Cookbook](http://wiki.ros.org/rosbag/Cookbook).

You would not be using `rosbag play` here.

[2020-05-15 08:32] gavanderhoorn commented on #30
Oh and be sure to check *which* topics you'd need / want to record. Unless of course you don't have any high-bandwidth topics. Then you just record everything.

Note that messages *with* `Header`s would always be good in these cases, as otherwise you can only use the time `rosbag` received the message for your plots, which will result in very jittery graphs.

[2020-05-15 08:34] gavanderhoorn commented on #30
@marioney wrote:

Does the observer ever have to (cor)relate sensor data to other data? Or to previous samples? Are derivatives ever calculated?

If so: add `Header`s.

Never use `ros::Time::now()` or wall clocks.

---

And for your plots the `Header`s are also good to have, as I mentioned in my earlier comment.

[2020-05-15 08:50] chcorbato commented on #26
It works for me too, also with metacontrol adapting half-way. Do you want me to help testing with other start and goal positions?

[2020-05-15 09:00] chcorbato commented on #26
In relation to:

Is this done/ready?

Additionally:
I think that currently configurations correspond to different   values `{'safe','standard','fast'}` for the argument `profile` in the launch file:
[`metacontrol_nav/launch/include/move_base.launch`](
https://github.com/rosin-project/metacontrol_nav/blob/master/launch/include/move_base.launch)

But in principle @ipa-nhg is generating different lau

[2020-05-15 09:09] marioney commented on #26
You're right, these are the configurations.

Does the `reasoner` need to know the current (initial) configuration beforehand?  Or can we start with one of those three and perform reconfiguration then?  In any case, we can use the launch files generated by @ipa-nhg, we just need to include them onthe `metracontrol_sim` main launch file.

[2020-05-15 09:27] marioney commented on #30
The problem with `rosbag` is that we want to do thousands of experiments, and then get statistics / analysis from them, so a lot of post-processing will be required.

Maybe we should have started with this, but all these questions are because I'm working on a "logger" that directly subscribes to the interesting topics and logs the data in a `.csv` file

[2020-05-15 09:55] gavanderhoorn commented on #30
I'm not sure how "thousands of experiments" changes things here.

Rosbag can be started as part of a `.launch` file.

The Rosbag API makes it almost trivial to extract the data you want (and the convert it to whatever you want, if needed).

yes, that does sound like duplicated effort. Unfortunate.

[2020-05-15 10:52] marioney commented on #30
I understand your point, and I agree that we can use the `rosbag` infrastructure to get the data.

I'm not saying that the problem is the number of experiments, or how to record the `bags`, it was more about how to process the data (i.e. compute distance to goal, count number of goals, ect).

The two options are: store the `rosbags` and then create a script to extract the data as `.csv` vs create

[2020-05-15 10:59] chcorbato commented on #30
Things got messed up, probably my fault. I changed the issue name to point that this is a con. of #25

[2020-05-15 11:02] gavanderhoorn commented on #30
Personally I'd probably prefer to spend my time on writing a script which processes the data `rosbag` has collected for me.

But it probably depends on where you have the most experience and what you're comfortable with.

Well, what about using `rosbag` to record the data and then write a script which takes that data and immediately produces plots? Skip the `.csv`.

Unless you need `.csv` for some

[2020-05-15 11:03] gavanderhoorn commented on #25
Nuance: only those messages which have a `std_msgs/Header`.

You don't get anything for free here.

If you don't have a header, you'll only be able to approximate things with `ros::Time::now()`, which is suboptimal.

[2020-05-15 11:34] chcorbato commented on #26
That is ok, but I think this only affects how the experiments are deployed. There are two uses of these files:
- metacontrol uses them as resources to execute adaptations. For this it is important to standardize where(folder) are those files located and how they are named.
  - where do you think we should have them in `metacontrol_sim` or in `metacontrol_nav`? @marioney @ipa-nhg
- deploy the navig

[2020-05-16 09:59] marioney commented on #29
A new repository was created for this https://github.com/rosin-project/metacontrol_experiments

It contains the [run_sim.sh](https://github.com/rosin-project/metacontrol_experiments/blob/master/run_sim.sh) script to run the experiments

[2020-05-16 09:59] #29 closed

[2020-05-16 10:44] marioney commented on #30
In the end I'm using a program I developed to stop the simulation and get some quick data in `.csv`

That's a good option, I'm recording the `bags` in any case, as you said recording the bags is just one more line in the launch file.

[2020-05-16 10:54] marioney opened #31 "run initial experiments"
As the items from https://github.com/rosin-project/metacontrol_sim/issues/26 are completed, I can now run the initial experiments (27 Runs: 3 initial points, 3 goals and 3 navigation configurations)

@darkobozhinoski @chcorbato The perturbations described in  https://github.com/rosin-project/metacontrol_nav/issues/4 are not yet implemented, do we need them for the initial set of experiments?

@dar

[2020-05-16 14:34] chcorbato commented on #31
If easy to implement, it would be very handy to:
- select if to run only one experiment or the complete batch
- for the 1 experiment only, if would be handy to select which perturbations to add (up to three)
This would allow to test the metacontrol functionality, which is different from running experiments. Maybe I should create a separate issue @marioney ?

[2020-05-16 16:00] marioney commented on #31
Yes, we should create a separate issue for this.  Actually more than one as we need to define the perturbations (obstacle positions etc) and another for the changes you are suggesting

[2020-05-17 08:15] darkobozhinoski commented on #31
@marioney , Both are implemented. I just pushed a new version that normalizes both "safety" and "energy" values.
Please check all the topics in the safety observer: https://github.com/rosin-project/rosgraph_monitor/blob/observers/src/rosgraph_monitor/observers/safety_quality_observer.py
For the safety observer, we mentioned that probably there is a possibility to take the acceleration (check the d

[2020-05-17 08:23] darkobozhinoski commented on #31
To define perturbations please check the document above. In general, this is how I see it:

 - Number of perturbations: Choose from 1 to 3
 - For each perturbation:
                            - select [Type of perturbation, level of perturbation]

There are three types of perturbation:
1. Cluttered environment,
2. Unexpected increase in power consumption,
3. Component_failure

Levels of perturbat

[2020-05-17 19:42] marioney commented on #31
We need to define what do we mean by low / medium or high cluttered.

I see two ways of doing this, have fixed size obstacles and add  different number of them, or have a fixed number of obstacles and change their size.

[2020-05-17 19:48] darkobozhinoski commented on #31
@marioney , that is defined in the document to some extend.
- Low means 1 obstacle;
- Medium means 2 obstacle with "large space" between them;
- High means 3 obstacles with "short" distance between them;

Short vs. large distance between obstacles is in order to play with the inflation radius.

[2020-05-18 09:10] chcorbato opened #32 "Test setup for metacontrol (from #31)"
(issue created from https://github.com/rosin-project/metacontrol_sim/issues/31#issuecomment-629667596)
To test the metacontroller I need to be able to launch the simulation:
- [x] for only 1 goal
- [x] selecting start and goal poses
- [x] Perturbation: I need to add a perturbation, choosing which one. Whatever is easier:
   - [x]  Add unknown obstacles
   - [x] Increase energy consumption

[2020-05-18 09:22] chcorbato opened #33 "Sync launch configuration across metacontrol nodes and with move_base launch"
Currently, there is ad-hoc code to tell each of the metacontrol nodes which one if the running configuration.
We need to:
- [ ] Sync it at launch time
- [ ] Keep it sync @runtime

Ideal solution: use the models we have defined in our model-based approach

[2020-05-18 14:52] marioney commented on #32
I've added a [single run script](https://github.com/rosin-project/metacontrol_experiments/blob/master/run_single_sim.sh)  in https://github.com/rosin-project/metacontrol_experiments/commit/bc146cce3cdc0b26fc65b39b4df10cf34bf673b6

[2020-05-18 15:09] chcorbato commented on #32
Almost! This is the output (things start, but then it dies after the robot starts turning in the initial position I think)
I think this is the problem is that a new urdf file is missing:
[code]

Complete output:
[code]

[2020-05-18 15:15] marioney commented on #32
Ups!!!   I've added a "required" tag on the obstacle spawner.  And I didn't push all the changes for metacontrol_sim

it should work with https://github.com/rosin-project/metacontrol_sim/commit/530a6d4c41c87979c48ec9ac7168bc5ddb72b420 and https://github.com/rosin-project/metacontrol_experiments/commit/2e0f679fcbc58ce66819818c66a8199b258e9796.

[2020-05-18 15:24] chcorbato commented on #32
Nice! Now it works.

It would be handy to select the experiment parameters by passing arguments to the script, so as not to edit the code:
[code]
But maybe I'n not using it right or I am missing something.

[2020-05-18 15:34] marioney commented on #32
No, you're right.  I'll take a look on how to do this

[2020-05-18 18:24] marioney commented on #32
The increase in power can be called now, changes are in
https://github.com/rosin-project/metacontrol_experiments/commit/255bb8d6ff8b1c01b5dbbc98fa65400640dad034 and https://github.com/rosin-project/metacontrol_sim/commit/ae7ff41e65bfa2fcf1fa101e5ee3e99f92c597bb

@chcorbato  can you test it and close this if it works

I'll create a separate issue for this

[2020-05-19 08:49] chcorbato commented on #26
Setup ready, obtaining the data is https://github.com/rosin-project/mros1_reasoner/issues/10#issuecomment-630073391

[2020-05-19 08:49] #26 closed

[2020-05-19 14:17] darkobozhinoski opened #34 "SafetyObserverCodeGeneration"
These are the topics to which the observer needs to subsbscirbe:

topics = [("/odom", Odometry), ("/imu/data", Imu), ("/d_obstacle", Float32)]
The code to the observer is [here](https://github.com/rosin-project/rosgraph_monitor/blob/observers/src/rosgraph_monitor/observers/safety_quality_observer.py)

[2020-05-19 14:23] chcorbato commented on #34
Just for information, who is publishing `/d_obstacle`? @darkobozhinoski @marioney

[2020-05-19 14:53] marioney commented on #34
There's a node called https://github.com/rosin-project/metacontrol_sim/blob/MVP_world/scripts/safety_distance_publisher.py

It uses filtered laser data to get the closest distance

[2020-05-19 16:58] ipa-nhg commented on #34
@darkobozhinoski Thanks for the information!

Solved by: https://github.com/rosin-project/rosin-experiments/pull/5

The resulted auto-generated model file fits perfectly to the observer code:
[code]
and the autogenerated python code looks:
[code]
this confirms that the observer generator works fine and the global RosSystem model is correct! :tada: :tada:

NOTE: I had to add two new nodes that corr

[2020-05-20 06:56] chcorbato opened #35 "Adapt rosgraph_manipulator to reconfigure using launch files generated by RosModel"
This is what we discussed today.
Currently the reconfiguration uses a single launch file and a launch argument to select amongst predefined param configs for move base.
See:
https://github.com/rosin-project/metacontrol_sim/blob/ae7ff41e65bfa2fcf1fa101e5ee3e99f92c597bb/scripts/rosgraph_manipulator.py#L136

What we need is to launch the launch files autogenerated from the .rossystem files of each co

[2020-05-20 12:40] chcorbato commented on #25
I think for the moment this is implemented ad-hoc for our current experiments in #26
I'm triaging it as `enhancement` and for later in our [project board](https://github.com/orgs/rosin-project/projects/2)

[2020-05-20 15:48] ipa-nhg commented on #35
Solved by https://github.com/rosin-project/metacontrol_sim/pull/36

[2020-05-20 20:17] chcorbato commented on #35
We need to complete #36 according to @marioney's [comment](https://github.com/rosin-project/metacontrol_sim/pull/36#issuecomment-631605601)
but I close this issue

[2020-05-20 20:17] #35 closed

[2020-05-21 13:28] chcorbato commented on #32
I think the setup to test metacontrol is good enough to debug the `mros1_reasoner` for the MODELS paper experiments

[2020-05-21 13:28] #32 closed

[2020-05-22 11:51] marioney opened #40 "Create code for Objective Error observer"
Observer for Objective error: needed for scenarios 3 in yellow table

- Should check if there's an error when the route is not available.
      - `Path` length 0
- Check `move_base/result` topic
- Should check if the robot is blocked (not moving after X seconds)

Objective should publish: "true" if there's an error
                                         "false" if the system is running OK.

Also

[2020-05-22 16:25] chcorbato commented on #14
This has been solved in the implementation of the energy observed

[2020-05-22 16:25] #14 closed

[2020-05-22 17:13] marioney commented on #40
@darkobozhinoski  @chcorbato A quick question, if an error is received, the message is sent but when should we clear the objective error (change the error message to false again)

Options are:

- When a new goal (reconfiguration) is received
- Only send the error one time
- Keep the error for X seconds

[2020-05-22 18:00] marioney commented on #40
Done in https://github.com/rosin-project/metacontrol_sim/commit/87ad4e04383265bc03cbd1468b641b4ae3b3df4f and https://github.com/rosin-project/rosgraph_monitor/commit/674fc297aa8b28a0a7af40c79871a8af27ea026a

For now the error message is published for 1 sec.

[2020-05-22 19:02] chcorbato commented on #40
I am not sure.

Nice analysis. I would say the error should be reported while the condition that triggered it continuous. If the topics whose values cause it keep reporting the same values, keep sending the error. But it is just an idea.

[2020-05-23 06:38] chcorbato opened #41 "Could not start XXXX Oberserver"
[INFO] [1590215602.961954, 0.000000]: Controller frequency: 1.0
energy
EnergyQualityObserver
[INFO] [1590215603.004127, 0.000000]: Waiting for service...
[INFO] [1590215603.011966, 0.000000]: Waiting for service...
Could not start EnergyQualityObserver
The load observer service call is completed!
safety
SafetyQualityObserver
[INFO] [1590215603.149441, 0.000000]: Waiting for service...
Could not st

[2020-05-23 08:28] marioney commented on #41
This error

Comes from the [rosgraph_monitor/scripts/monitor#L60](https://github.com/rosin-project/rosgraph_monitor/blob/674fc297aa8b28a0a7af40c79871a8af27ea026a/scripts/monitor#L60) I'll take a look at it, and maybe @ipa-hsd can help us find out why the exception is raised

[2020-05-23 09:00] chcorbato commented on #41
Maybe it is a race condition / timing issue, and in my slow computer it happens sometime.
I will move it to wont fix now for the moment.

[2020-05-23 10:55] ipa-hsd commented on #41
I pulled the latest `observers` branch and unable to replicate this. I am able to load and unload the observer.

[2020-05-23 11:00] chcorbato commented on #41
I think there is some race condition that happens for my slow machine. I leave it open but with `wontfix`

Thanks @ipa-hsd !! 🎉

[2020-05-24 14:24] marioney commented on #40
@chcorbato should we close this?

[2020-05-24 21:25] chcorbato commented on #40
I think I remember seeing the error in the printout of the message received by `mros1_reasoner` with "ojbective" misspelled. A part from that, yes, you can close it.

[2020-08-05 13:45] chcorbato opened #42 "Move rosgraph_manipulator to a separate repo"
Move rosgraph_manipulator to a separate repo, because it is a metacontrol asset that should be "experiment/system" agnostic, but platform specific for ROS1

[2020-08-05 15:01] darkobozhinoski opened #43 "GetModelProperties Obstacle Error"
When running `./run_single_sim.sh -p 1 -g 2 -n "f1_v1_r1" -o 2 -r "true" -p 1.2` in the experiments repo, the following Error appears. This do not affect the normal execution of the mission.

[code]
![ObstcacleIssue](https://user-images.githubusercontent.com/8318517/89429006-49d69d00-d73d-11ea-9ac9-3d5ef1b74cc5.png)

[2020-08-06 09:25] chcorbato opened #44 "README setup instructions are confusing"
Because there are two sections: "Setup using wstool" and "Manually setup", I though I could simply follow one of them, so I did with wstool.
But you actually need to do BOTH.

I propose to have a single "Installation and setup section", and introduce both sets of instructions with a sentence in normal text, not as a header.

[2020-08-06 10:48] chcorbato opened #45 "No such file or directory: u'/home/parallels/rosin_paper_ws/src/metacontrol_sim/launch/include/description_ridgeback_yumi.launch.xml'"
Problem running
[code]

Looks like the correct directory is:/home/parallels/rosin_paper_ws/src/metacontrol_sim/launch/**includes**/description_ridgeback_yumi.launch.xml

[2020-08-06 10:53] marioney commented on #44
Then there's something missing on the `wstool` because it should already install everything.

Do you remember what was missing from the wstool?

[2020-08-06 11:01] chcorbato commented on #44
Based on the errors I got, that I fixed installing the following with `apt`:
- `map_server`
- `fake_localization`
- `laser_filters`

[2020-08-06 12:00] chcorbato commented on #44
Bring here the discussion about the Set Up instructions:
https://github.com/rosin-project/metacontrol_experiments/issues/14

[2020-08-06 15:16] marioney commented on #44
I've removed the Manual setup section in https://github.com/rosin-project/metacontrol_sim/commit/53c5ae249b247d01e902b4af4e4b8607c214f59d, I should work now with the wstools.

[2020-08-07 13:59] darkobozhinoski commented on #44
This is still an issue. I needed to install these packages manually.

[2020-08-07 14:09] marioney commented on #44
I see now  https://github.com/rosin-project/metacontrol_experiments is not in the [metacontrol_sim.rosinstall](https://github.com/rosin-project/metacontrol_sim/blob/MVP_world/metacontrol_sim.rosinstall) file. I think I added the dependencies in the wrong repo, they should be here.

[2020-08-07 14:12] marioney commented on #44
OK, I've added the dependencies to this repo in https://github.com/rosin-project/metacontrol_sim/commit/08f8c5cf3f1b25d5a50dcba8e6076d686da1411f

rosdep should install everything now

[2020-08-11 08:04] JWijkhuizen opened #46 "Missing dependency: ridgeback_gazebo"
In this package in the MVP branch, the dependency ridgeback_gazebo is missing in package.xml.

This results in a working simulation, except that the robot cannot move

[2020-08-11 08:25] chcorbato commented on #46
@JWijkhuizen could you try to make a pull request to fix it?

[2020-08-11 08:52] JWijkhuizen commented on #46
Yes I did now. Please let me know if I did not do it correctly

[2020-08-11 11:00] chcorbato commented on #46
This issue can be closed once the pull request is approved and merged.
That is how the workflow should go.

[2020-08-12 09:18] JWijkhuizen commented on #46
Thanks for the feedback.

This issue is fixed by #47 now, and is successfully merged and closed.

[2020-08-12 09:18] #46 closed

[2020-09-09 11:38] chcorbato commented on #2
Shall we label it as wontfix and close it @marioney

[2020-09-09 11:57] chcorbato commented on #31
Addressed by the experiments script:
https://raw.githubusercontent.com/rosin-project/metacontrol_experiments/master/run_batch_sim.sh

[2020-09-09 11:57] #31 closed

[2020-09-09 11:58] #18 closed

[2020-09-09 11:59] #25 closed

[2020-09-09 12:00] chcorbato commented on #30
See https://raw.githubusercontent.com/rosin-project/metacontrol_experiments/master/run_batch_sim.sh

[2020-09-09 12:00] #30 closed

[2020-09-09 12:03] chcorbato commented on #23
We decided not to include this in the paper.

[2020-09-09 12:03] #23 closed

[2020-09-09 12:05] chcorbato commented on #6
See https://github.com/rosin-project/rosgraph_monitor/blob/observers/src/rosgraph_monitor/observers/energy_quality_observer.py

[2020-09-09 12:05] #6 closed

[2020-09-09 12:15] chcorbato commented on #40
Current solution rosin-project/rosgraph_monitor@674fc29 needs improvements

Ad-hoc code:

https://github.com/rosin-project/rosgraph_monitor/blob/674fc297aa8b28a0a7af40c79871a8af27ea026a/src/rosgraph_monitor/observers/objetive_error_observer.py#L8

https://github.com/rosin-project/rosgraph_monitor/blob/674fc297aa8b28a0a7af40c79871a8af27ea026a/src/rosgraph_monitor/observers/objetive_error_observer.p

[2020-09-09 12:18] chcorbato commented on #40
@ipa-hsd could you please transfer this issue to https://github.com/rosin-project/rosgraph_monitor/
I think it belongs there, but that repo is not listed for me when I try to transfer the issue.

[2020-09-09 12:27] #40 closed

[2020-09-23 12:05] chcorbato opened #49 "No QA values published in diagnostics and updated in the reasoner"
This happens in 35cd0dc70fd482f811ab96dcaef3d49c85d4109e when using the updated launchfile:
[code]
When echoing `/diagnostics`:
[code]
It seems to be the **same issue than in https://github.com/tud-cor/mc_mros_reasoner/issues/89**

[2020-09-23 12:12] chcorbato opened #50 "No FD found to solve Objective o_navigateA"
This happens in 35cd0dc when using the updated launchfile:
[code]

Maybe it is due to the particular scenario used in this launchfile, can you please check @marioney

[2020-09-23 15:27] marioney commented on #50
This should be solved with https://github.com/rosin-project/metacontrol_sim/pull/51 and https://github.com/tud-cor/mc_mros_reasoner/commit/015428688ced89b94eac59fb4841aaabf9a118ff

Can you check if this works for you?

[2020-09-23 16:00] chcorbato commented on #50
Confirmed, it is solved with #51 and tud-cor/mc_mros_reasoner@0154286

[2020-09-23 16:00] #50 closed

[2020-10-07 15:43] ipa-nhg commented on #42
We, at IPA, have a  potential new use for the `rosgraph_manipulator`, is it possible to make it generic? For example take the list of nodes to be killed from a yaml file.

make it sense for you @marioney ? We can also support/send a suggestion as PR

[2020-10-08 10:32] marioney commented on #42
I think that's a good idea. And of course we would really appreciate your support on this.

I think a PR will be good, so we can discuss on the details for the change there

As of now, we're only killing the `move_base` node, but actually, the [kill_node function](https://github.com/rosin-project/metacontrol_sim/blob/29f30f76be693aa648d858ae5e6be37d1bc69990/scripts/rosgraph_manipulator.py#L52) acc

[2020-10-20 13:33] chcorbato opened #52 "create sim/fake laser node"

[2020-10-20 13:40] chcorbato opened #53 "add the PCL sensor to the simulation"

[2020-10-20 13:54] ipa-hsd commented on #52
Create service to stop publisher

[2020-10-23 11:51] ipa-nhg commented on #42
Move rosgraph_manipulator to a separate repo: :heavy_check_mark:  done -> https://github.com/tud-cor/mc_rosgraph_manipulator/pull/2

About how to make it generic I will open a new issue for  [mc_rosgraph_manipulator](https://github.com/tud-cor/mc_rosgraph_manipulator) to discuss potential solutions

[2021-08-27 14:14] Rezenders opened #59 "can't find rosgraph_manipulator_config.yaml"
With commit ed75d10444396cf7c3ddaf1108ecae0805476f0d the following error occurs:

[code]
This is due `metacontrol_sim/yaml/rosgraph_manipulator_config.yaml` being removed.

I think the solution is to replace in [rosgraph_nodes.launch.xml ](https://github.com/rosin-project/metacontrol_sim/blob/master/launch/includes/rosgraph_nodes.launch.xml) the line:

[code]

With:

[code]

If this is right I can